@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#uni {
  color: red;
  font-family: 'Racing Sans One', cursive;
}

#auto {
  color: black;
  font-family: 'Racing Sans One', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.col-md-3 {
  margin: 10px;
}

.form-control {
  margin-bottom: 10px;
}

#user-button {
  margin-bottom: 10px;
}

#container {
  width: 500px;
  align-content: center;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
